body {
  background-color: #000000;
}

a {
  color: white;
  font-size: 25px;
}
.white_text {
  color: white;
}

.yellow_text {
  color: yellow;
} 

#header {
  background-color: #012a79;
  padding: 20px;
  margin-bottom: 13px;
}

#main_content {
  background-color: #012a79;
  padding: 10px;
}

#main_content_inside {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  margin: 0 auto 0 auto;
}

h1 {
  text-align: center;
  margin-left: 0px;	
}

p {
  font-size: 20px;
}

img {
  max-width: 400px;
}

/* This is a comment */
